## Lesson 1 - Numeric types, loops, flow control, strings

We have ints or integers, such as:

In [1]:
3

3

We have flosts or floating point numbers, such as:

In [2]:
4.2

4.2

We have complex numbers, such as:

In [3]:
 7 + 3j

(7+3j)

bools or booleans, which have one of two possible values

In [4]:
True

True

In [5]:
False

False

And None, which is a special type with exactly one possible value:

In [6]:
None

To check the type of an object (data type (int, float, complex, bools)), we can use a bulit-in function called type:

In [7]:
type(2)

int

In [10]:
type(4.2)

float

In [9]:
type(7+3j)

complex

In [11]:
type(True)

bool

## Binary Operations

In [12]:
# addition
2 + 5

7

In [13]:
# subtraction
3-7

-4

In [14]:
# multiplication
3 * 9

27

In [15]:
# division
3/4

0.75

 Notice that with addition between ints, we actually got back a float.

#### Lets compare booleans

In [1]:
# less than
3 < 4

True

In [3]:
4 >= 3

True

In [4]:
4 == 1

False

In [5]:
4 != 1

True

#### Binary operations for booleans

###### And operator

In [6]:
True and True

True

In [7]:
True and False

False

In [8]:
False and False

False

###### Or operator

In [9]:
True or True

True

In [10]:
True or False

True

In [11]:
False or False

False

##### unary operator (not)

In [12]:
not True

False

In [13]:
not False

True

## Names and objects

Lets creat a name my_weight and point it at an integer of value 170

In [1]:
my_weight = 190

In [2]:
my_weight

190

Lets creat a name class, my_weight_kg, give weight in kg.

In [3]:
my_weight_kg = my_weight / 2.2

In [4]:
my_weight_kg

86.36363636363636

What if later I weigh myself and find I've gotten lighter? so lets set my_weight to poing to a new integer, 180:

In [5]:
my_weight = 180

In [6]:
my_weight_kg

86.36363636363636

Note: my_weight_kg didn't change. Because the name my_weight_kg only points to a value in memory, it doesn't keep track of how that value came about. if we want my_weight_kg, we will need to update it explicitly.

In [9]:
my_weight_kg = my_weight / 2.2

In [10]:
my_weight_kg

81.81818181818181

## While loop

Lets say we wanted the sum of all integers up to n

In [11]:
1+2+3+4+5+6+7+8+9+10

55

Can also be written as:

In [12]:
 ((((((((1 + 2) + 3) + 4) + 5) + 6) + 7) + 8) + 9) + 10

55

Computers are good at taking a task and repeating it over and over again, lets do that using while loop

In [13]:
# start at 1, and with an accumlated total 0
number = 1
total = 0

# keep executing the body of the loop until
# 'number < 11' yields 'False'

while number < 11:
    # add the current value of 'number' to 'total'
    # and set the name 'total' to the new value
    total += number
    # increase 'number' by 1
    number += 1

print(total)

55

### Challenge: calculate the product of the first 20 odd integers

In [14]:
number = 1
total = 1
count = 1
while count < 21:
    total *= number
    number += 2
    count += 1
print(total)

319830986772877770815625

## Intro to Strings

So far we've dealt in data types that are non-iterable; that is, they have no length to them:

In [16]:
word = 'bird'

In [17]:
word

'bird'

The string has the length of

In [18]:
len(word)

4

Lets index by selecting 'b' from 'bird' by:

In [19]:
word[0]

'b'

Or lets select 'r'

In [20]:
word[2]

'r'

We can also index backward, from the end of the string, with negative integers:

In [21]:
word[-2]

'r'

we can also preform slicing to string: get me the zeroth element, up to but not including the third element

In [22]:
 word[0:3]

'bir'

Strings can be made in a variety of ways:

In [24]:
'with single quotes'

'with single quotes'

In [26]:
"with double quotes"

'with double quotes'

In [27]:
"single 'scare quotes'"

"single 'scare quotes'"

In [28]:
'double "scare quotes"'

'double "scare quotes"'

There are also multi-line strings:

In [32]:
multiline = """This is
   a multi-line string"""

In [31]:
multiline

'This is\n  a multi-line string'

In [33]:
print(multiline)

This is
   a multi-line string

### Using string methods

Methods can be used to manipulated the existing data structure or obtain a new from an existing one. For example:

In [34]:
word.upper()

'BIRD'

In this case we called upper() on word and got a new .
the methods available on an obect can be shown by typing the name followed by a . then hitting the Tab key.

In [35]:
morewords = "a splash of mineral water"

Not all methods of strings return other strings, though. For example, split() returns a list of strings separated by whitespace in the original:

In [36]:
morewords.split()

['a', 'splash', 'of', 'mineral', 'water']

the + operator can be used to concatenate two strings:

In [38]:
"one" + "two"

'onetwo'

The * operator can be used with an integer to concatenate the same string many times:

In [39]:
 "seven" * 7

'sevensevensevensevensevensevenseven'

Strings are immutable data structure type. For example:

In [42]:
my_string = "cat"

In [45]:
my_string

'cat'

In [55]:
# change 'cat' to 'hat'
new = list(my_string)
new[0] = 'h'
''.join(new)

'hat'

In [50]:
my_string.replace('c', 'h')

'hat'

Always return a new string, leaving the original intact.

In [56]:
my_string

'cat'

## Using for loops for iteration

Example of for loop

In [57]:
for letter in word:
    print(letter)

b
i
r
d

We can do it the hard way

In [58]:
print(word[0])
print(word[1])
print(word[2])
print(word[3])

b
i
r
d

Now let the word be supercalifragilisticexpialidocious

In [59]:
word = 'supercalifragilisticexpialidocious'

In [61]:
for letter in word:
    print(letter)

s
u
p
e
r
c
a
l
i
f
r
a
g
i
l
i
s
t
i
c
e
x
p
i
a
l
i
d
o
c
i
o
u
s

### Flow Control

Inside the body of the loop below, we ask whether or not letter is 'l'. If it is not 'l', then we go ahead and print it; otherwise, we don't do anything and move on to the next iteration of the loop.

In [62]:
for letter in word:
    if letter != 'l':
        print(letter)

s
u
p
e
r
c
a
i
f
r
a
g
i
i
s
t
i
c
e
x
p
i
a
i
d
o
c
i
o
u
s

We can also use else statements to do something in case the if condition is not met:

In [63]:
for letter in word:
    if letter != 'l':
        print(letter)
    else:
        print(None)

s
u
p
e
r
c
a
None
i
f
r
a
g
i
None
i
s
t
i
c
e
x
p
i
a
None
i
d
o
c
i
o
u
s

Or if we need one of many mutally-exclusive possibilities to happen, we can add in elif, or "else if":

In [65]:
for letter in word:
    if letter != 'l':
        print(letter)
    elif letter != 'c':
        print("I'm a c!")
    else:
        print(None)

s
u
p
e
r
c
a
I'm a c!
i
f
r
a
g
i
I'm a c!
i
s
t
i
c
e
x
p
i
a
I'm a c!
i
d
o
c
i
o
u
s

Note: it's important to remember that the order of the if, elif, and else matters here. The if statement is evaluated first, and if it evaluates True, then its body gets executed. It does not matter in that case if an elif that follows it would have also evaluated to True. The else body will get executed if none of the prior statements in the block end up evaluating to True.

We can rewrite the code as follows:

In [66]:
 for letter in word:
    if letter != 'l' and letter != 'c':
        print(letter)
    else:
        print(None)

s
u
p
e
r
None
a
None
i
f
r
a
g
i
None
i
s
t
i
None
e
x
p
i
a
None
i
d
o
None
i
o
u
s